@use "./breakpoints" as *;

@mixin tablet{
    @media (min-width: $breakpoint-tablet){
        @content;
    }
}

@mixin flex-center-space-between{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

