@use "./breakpoints" as *;

@mixin mobile{
    @media (min-width: $breakpoint-mobile){
        @content;
    }
}

@mixin flex-center-space-between(){
    display:flex;
    justify-content: space-between;
    align-items: center;
}

