@font-face{
    font-family: "Avenir Next";
    src: url("../../assets/Font/Alternative files/AvenirNextLTPro.ttf") format("ttf");
    font-weight: 400;
}

@font-face{
    font-family: "Avenir Next";
    src: url("../../assets/Font/Alternative files/AvenirNextLTProDemi.ttf") format("ttf");
    font-weight: 600;
}

@font-face{
    font-family: "Avenir Next";
    src: url("../../assets/Font/Alternative files/AvenirNextLTProBold.ttf") format("ttf");
    font-weight: 700;
}
