@use "./partials/global";
@use "./partials/typography";
@use "./partials/color" as *;
@use "./partials/mixins" as *;

$padding-before-headlines-desktop: 3rem;
$padding-after-headlines-desktop: 2.25rem;

body {
    font-family: "Avenir Next",sans-serif;
    color: $color-primary-black;
    // width: auto;
}

.users{
    @include flex-center-space-between;
    flex-direction: column;

}

.header {
    background-color: $color-primary-black;
    color: $color-primary-white;
    width: 100%;
    height: 5rem;

    @include flex-center-space-between;
    flex-direction: column;

    @include tablet {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    @include desktop {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        padding-left: 5rem;
    }

    &__logo {
        height: 25%;
        margin-top: 1.2rem;

        @include tablet {
            margin-top: 0;
        }

        @include desktop {
            margin-top: 0;
        }
    }

    &__img {
        height: 100%;
        //padding-right: 1rem;

        @include tablet {
            padding: 0 $padding-before-headlines-desktop;

        }

        @include desktop {
            padding-left: 0 3rem;

        }
    }

    &__nav {
        width: 100%;
        height: 50%;

        &__list {
            list-style: none;
            color: $color-primary-white;

            @include flex-center-space-between;
            align-items: center;

            width: 80%;

            margin-right: 3rem;
            margin-left: 3rem;

            font-size: 1rem;
            font-family: "Avenir Next";

            @include tablet {
                height: 8%;
                width: 38%;
                margin-left: 0rem;
                gap: 1rem;
                justify-content: space-evenly;
                align-items: center;
            }

            @include desktop {
                width: 5%;
                margin-left: 5rem;


            }
        }
    }
}

.link {
    color: $color-primary-white;
    text-decoration: none;
    font-size: 1rem;
    width: 100%;

    border-bottom: 2rem solid transparent;
    align-items: center;

    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 5rem;


    &:hover {
        border-bottom: 0.2rem solid $color-primary-white;
    }

    &:active {
        border-bottom: 0.2rem solid $color-primary-white;
        font-weight: 700;
    }

    @include tablet {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
        padding-bottom: 2rem;
    }

    @include desktop {
        // margin-right: 1rem;
        padding-left: 0.1rem;
        font-size: 0.8rem;
    }
}

.hero {
    height: 18rem;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/Images/hero-bio.jpg");
    background-size: cover;
    background-position: center;
    @include flex-center-space-between;

    @include tablet {
        height: 35rem;
    }

    &__title {
        margin: 0;
        padding: 1rem;
        color: $color-primary-white;

        font-weight: 700;
        font-size: 1.8rem;
        letter-spacing: 0.1rem;

        @include tablet {
            font-size: 4.5rem;
            padding: $padding-before-headlines-desktop;
        }

        @include desktop {
            font-size: 3rem;
            padding: 7rem;
        }
    }
}

.abouts {
    .about {
        &__title {
            margin: 0;
            padding: 2rem 1rem 1rem 1rem;
            font-size: 2.5rem;
            font-weight: 600;
            font-family: "Avenir Next";

            @include tablet {
                padding: $padding-before-headlines-desktop $padding-after-headlines-desktop $padding-after-headlines-desktop $padding-after-headlines-desktop;
            }

            @include desktop {
                padding: 3rem 7rem 2rem 7rem;
                font-size: 2rem;
            }
        }

        &__img {
            width: 100%;
            height: 50%;
            padding: 0 1rem;

            @include tablet {
                padding: 0 6rem;
                height: 55%;
            }

            @include desktop {
                padding: 0rem 13rem;
                height: 35rem;
            }
        }

        &__subtitle {
            padding: 0 1rem;
            line-height: 2rem;
            font-size: 1.2rem;

            @include tablet {
                padding: 0 6rem;
                font-size: 1.5rem;
            }

            @include desktop {
                padding: 0 13rem;
                width: 80%;
            }

            font-weight: 600;
            font-family: "Avenir Next";

        }

        &__quote {
            @extend .about__subtitle;

            @include tablet {
                font-size: 1.2rem;
            }
        }

        &__subhead {
            @extend .about__title;
            color: $color-primary-black;
            font-size: 1.6rem;
            font-weight: 400;

            @include tablet {
                padding: $padding-after-headlines-desktop 6rem;
                font-weight: 600;
            }

            @include desktop {
                padding: 3rem 13rem 2rem 13rem;
            }
        }

        &__content {
            @include flex-center-space-between;
            flex-direction: column;

            @include tablet {
                flex-direction: row;
                width: 100%;
                height: fit-content;
            }

            @include desktop {
                padding: 0 7rem;
            }
        }

        &__contents {
            @extend .about__subtitle;
            font-size: 1.3rem;
            font-weight: 300;

            @include tablet {
                font-size: 1rem;
                padding: 0 6rem;
            }

        }
    }
}

.gallery {

    &__head {
        @extend .about__title;
        font-weight: 600;
        padding-left: 1rem;
        padding-top: 1rem;
        font-size: 2rem;
        letter-spacing: 0.1rem;

        @include tablet {
            padding: 0 $padding-before-headlines-desktop;
        }

        @include desktop {
            padding: 0 7rem;
        }
    }

    &__item {
        @include flex-center-space-between;
        flex-wrap: wrap;
        //padding: 1rem;


        @include tablet {
            flex-direction: row;
            padding: $padding-after-headlines-desktop;
        }

        @include desktop {
            padding: 0 6rem;
           
            
        }
    }

    &__photo {
        width: 100%;
        height: 100%;

        @include tablet {
            padding: 0 1rem;
            max-width: 17rem;
        }

        @include desktop {
            max-width: 20rem;
            padding: 0 1rem;
            margin-bottom:1rem;
        }
    }
}
// comment

.comment{

    @include flex-center-space-between;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1rem;
   

    &__avatar{
        width: 100px;
        height: 100px;
        //border-radius: 50%;
        overflow: hidden;
        position: relative;
        margin-left: 1rem;
    }

    &__icon{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
    }

    &__name{
        @include flex-center-space-between;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    &__input{
        background-color:$color-primary-white;
        border: 1px solid $color-primary-silver;
        border-radius: 5px;
        padding:1rem;
        width: 28rem;
        font-size: 1rem;
    }

    &__content{
        @extend .comment__name;
    }

    &__inputer{
        @extend .comment__input;
        width: 28rem;
        height: 10rem;
        text-align: left;
    }
}

.title{
    font-size: 2rem;
    padding: 1rem;
}

label{
    color: $color-primary-silver;
}

.combo{
    @include flex-center-space-between;
    flex-direction: column;
    gap:35px;
}

button{
    background-color:$color-primary-black;
    color: $color-primary-white;
    border:none; 
    border-radius:10px; 
    padding:15px;
    min-height:4rem; 
    min-width: 100%;

    font-size: 1.5rem;
}

.users{
    @extend .user__container;
}

.user{
    @include flex-center-space-between;
    align-items: center;
    justify-content: space-between;
    width:80%;
    min-width: 30em;
    height:100%;
    margin-top: 0;
    padding-left: 1rem;
    padding-right:1rem;
    border-top: 1px solid $color-primary-silver;

    &__avatar{
        border-radius: 50%;
        width: 10%;
        height:8%;
        margin-right: 2rem;
        margin-bottom: 8rem;
    }

    &__container{
        width:80%;
        min-width: 10em;
        height:100%;
        min-height:10em;
        padding-top: 0;
        &-namedate{
            @include flex-center-space-between;
            flex-direction: row;  
        }
    }

    &__date{
        color: $color-primary-silver;
        font-weight: 300;
    }

    &__comment{
        font-weight: 500;
        margin-top: 0;
       
    }
}

.footer {
    background-color: $color-primary-black;
    color: $color-primary-white;

    @include desktop {
        padding: 1rem 6rem;
    }

    &__contact {

        @include tablet {
            @include flex-center-space-between;
            width: 70%;
            padding-right: 10rem;
            // position: relative;
        }

        @include desktop {
            width: 30%;
            padding-right: 6rem;
            font-weight: 600;
        }


        &__title {
            &--head {
                @extend .gallery__head;
                //font-size: 6rem;
                font-weight: 500;
                gap: 0.3rem;

                @include tablet {
                    padding: 0 $padding-after-headlines-desktop;
                    font-size: 3rem;
                    font-weight: 500;

                }

                @include desktop {
                    padding: 0 2rem;
                    font-size: 2rem;
                    width: 180%;
                }

            }
        }

        &__logo {
            @include flex-center-space-between;
            gap: 2rem;
            width: 45%;
            padding: 0 1rem;
            //padding-top: 0px;


            @include tablet {
                padding-left: 1rem;
                width: 30%;
            }

            @include desktop {
                width: 5%;
                padding: 0 8rem;

            }
        }
    }

    &__info {
        @extend .about__contents;
        font-weight: 300;
        @include flex-center-space-between;
        flex-direction: column;
        align-items: flex-start;
        padding: 0 1rem;

        line-height: 1.5rem;
        margin-bottom: 0px;

        @include tablet {
            flex-direction: row;
            padding: 0 $padding-after-headlines-desktop;

        }
    }

    &__content {
        padding-top: 0.8rem;
    }

    &__title {
        font-weight: 700;
    }

    &__address {
        width: 100%;
        padding-top: 1rem;
    }

    &__logo {
        padding: 0 1rem;
        padding-top: 3rem;

        @include tablet {
            position: absolute;
            top: 70%;
            right: 1rem;
        }

        @include desktop {
            position: absolute;
            top: 370%;
            right: 1rem;

        }
    }

    &__copyright {
        padding: 0 1rem;
        font-size: 0.8rem;
        font-weight: 300;

        @include tablet {
            padding: $padding-after-headlines-desktop;
        }
    }
}

.footer__contact__logo--icons {
    width: 28px;
    height: 32px;
}