@use "./partials/global";
@use "./partials/typography";
@use "./partials/color" as *;
@use "./partials/mixins" as *;


.header {
    background-color: $color-primary-black;
    color: $color-primary-white;
    width: 100%;

    @include flex-center-space-between;
    flex-direction: column;
   
    &__logo {
        //background-color: $color-primary-black;
        height: 20%;
    }

    &__img {
        height: 100%;
        padding-left: 0.5rem;
        padding-top: 1rem;
    }

    &__nav {
       width:100%;

        &__list {
            list-style: none;
            color: $color-primary-white;
            @include flex-center-space-between;
            margin-right: 5rem;
            
        }
    }
}

.link {
    color: $color-primary-white;
    text-decoration: none;
    font-size: 1rem;
}
