@use "./partials/global";
@use "./partials/typography";
@use "./partials/color" as *;

.header{
    &__logo{
        background-color:$color-primary-black;
        height: 2.55rem;
        padding: 1rem 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    &__img{
        height: 1.25rem;
        width: 7.5rem;
       
    }
}

.top--nav{
        background-color:$color-primary-silver;

        &__items{
            list-style: none;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 0;
            height: 2.5rem;
            width: auto;
            padding-top: 0;
            
        }
}