@use "../styles/partials/global";
@use "../styles/partials/typography";
@use "../styles/partials/color" as *;
@use "../styles/partials/mixins" as *;

$padding-before-headlines-desktop: 3rem;
$padding-after-headlines-desktop: 2.25rem;

body {
    font-family: "Avenir Next" , sans-serif;
    color: $color-primary-black;
    // width: auto;
}


.header {
    background-color: $color-primary-black;
    color: $color-primary-white;
    width: 100%;
    height: 6rem;
   

    @include flex-center-space-between;
    flex-direction: column;

    @include tablet {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    @include desktop {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        padding-left: 5rem;
    }

    &__logo {
        height: 25%;
        margin-top: 1.2rem;

        @include tablet {
            margin-top: 0;
        }

        @include desktop {
            margin-top: 0;
        }
    }

    &__img {
        height: 100%;
        //padding-right: 1rem;

        @include tablet {
            padding: 0 $padding-before-headlines-desktop;

        }

        @include desktop {
            padding-left: 0 3rem;

        }
    }

    &__nav {
        width: 100%;
        height: 80%;

        &__list {
            list-style: none;
            color: $color-primary-white;

            @include flex-center-space-between;
            align-items: center;

            width: 80%;

            margin-right: 3rem;
            margin-left: 3rem;

            font-size: 1rem;
            font-family: "Avenir Next";

            @include tablet {
                height: 8%;
                width: 38%;
                margin-left: 0rem;
                gap: 1rem;
                justify-content: space-evenly;
                align-items: center;
            }

            @include desktop {
                width: 5%;
                margin-left: 5rem;
            }
        }
    }
}

.link {
    color: $color-primary-white;
    text-decoration: none;
    font-size: 1rem;
    width: 100%;

   //border-bottom: 1rem solid transparent;
    align-items: center;

    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 5rem;
    padding-bottom: 0.5rem;


    &:hover {
        border-bottom: 0.2rem solid $color-primary-white;
    }

    &:active {
        border-bottom: 0.2rem solid $color-primary-white;
        font-weight: 700;
    }

    @include tablet {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
        padding-bottom: 2rem;
    }

    @include desktop {
        // margin-right: 1rem;
        padding-left: 0.1rem;
        font-size: 0.8rem;
    }
}

.hero {
    width:100%;
    height: 32rem;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/Images/hero-shows.jpg");
    background-size: cover;
    background-position: center;
    color: $color-primary-white;

    @include flex-center-space-between;
    flex-direction: column;
    align-items: flex-start;

    &__h1{
        font-weight: 400;
        font-size: 1.5rem;
        padding: 1rem;
        margin-top:1rem;
       
    }

    &__h2{
        @extend .hero__h1;
        font-weight: 600;
        font-size: 2.5rem;
        padding-top: 0.3rem;
    }
}

.iframebox {
    margin-left: 1rem;
    margin-bottom: 2rem;
   
    iframe {
        border: 2px solid $color-primary-white;
        border-radius: 4%;
        width:169%;
        font-size: 10px;
        color: $color-primary-white;
    }
}

.footer {
    background-color: $color-primary-black;
    color: $color-primary-white;

    @include desktop {
        padding: 1rem 6rem;
    }

    &__contact {

        @include tablet {
            @include flex-center-space-between;
            width: 70%;
            padding-right: 10rem;
            // position: relative;
        }

        @include desktop {
            width: 30%;
            padding-right: 6rem;
            font-weight: 600;
        }


        &__title {
            &--head {
                font-weight: 600;
                padding-left: 1rem;
                padding-top: 1rem;
                font-size: 2rem;
                letter-spacing: 0.1rem;
                //font-size: 6rem;
                font-weight: 500;
                gap: 0.3rem;

                @include tablet {
                    padding: 0 $padding-after-headlines-desktop;
                    font-size: 3rem;
                    font-weight: 500;

                }

                @include desktop {
                    padding: 0 2rem;
                    font-size: 2rem;
                    width: 180%;
                }

            }
        }

        &__logo {
            @include flex-center-space-between;
            gap: 2rem;
            width: 45%;
            padding: 0 1rem;
            //padding-top: 0px;


            @include tablet {
                padding-left: 1rem;
                width: 30%;
            }

            @include desktop {
                width: 5%;
                padding: 0 8rem;

            }
        }
    }

    &__info {
       // @extend .about__contents;
       margin: 0;
            padding: 2rem 1rem 1rem 1rem;
            font-size: 1.3rem;
            font-weight: 300;
            font-family: "Avenir Next";

        font-weight: 300;
        @include flex-center-space-between;
        flex-direction: column;
        align-items: start;
        padding: 0 1rem;

        line-height: 1.5rem;
        margin-bottom: 0px;

        @include tablet {
            flex-direction: row;
            padding: 0 $padding-after-headlines-desktop;

        }
    }

    &__content {
        padding-top: 0.8rem;
    }

    &__title {
        font-weight: 700;
    }

    &__address {
        width: 100%;
        padding-top: 1rem;
    }

    &__logo {
        padding: 0 1rem;
        padding-top: 3rem;

        @include tablet {
            position: absolute;
            top: 70%;
            right: 1rem;
        }

        @include desktop {
            position: absolute;
            top: 370%;
            right: 1rem;

        }
    }

    &__copyright {
        padding: 0 1rem;
        font-size: 0.8rem;
        font-weight: 300;

        @include tablet {
            padding: $padding-after-headlines-desktop;
        }
    }
}

.footer__contact__logo--icons {
    width: 28px;
    height: 32px;
}



button{
    background-color:$color-primary-black;
    color: $color-primary-white;
    border:none; 
    border-radius:10px; 
    padding:15px;
    min-height:4rem; 
    min-width: 100%;

    font-size: 1.5rem;
}
